{% extends 'base.html' %}
{% load static %}
  {% block content %}

    <!-- HOME -->
    <section class="section-hero overlay inner-page bg-image" style="background-image: url({% static 'images/bluecollar19.jpg' %});" id="home-section">
      <div class="container">
        <div class="row">
          <div class="col-md-7">
            <h1 class="text-white font-weight-bold">About mbokahub</h1>
            <div class="custom-breadcrumbs">
              <a href="#">Home</a> <span class="mx-2 slash">/</span>
              <span class="text-white"><strong>About us</strong></span>
            </div>
          </div>
        </div>
      </div>
    </section>

    
    <section class="site-section">
      <div class="container">
          <div class="row">
          <div class="col-md-6">
            <h2>Mission</h2>
              <p>We at mbokahub are focused at providing employment opportunities to blue-collar professionals in Kenya and widen their scope into the digital world. From labourers to licenced technicians, mbokahub strives to create a safe platform where almost all forms of blue-collar jobs can be found. We at the same time also promise potential employers access to skilled personell for blue-collar proffessions.</p>
        </div>
        <div class="col-md-6">
            <img href="url({% static 'images/bluecollar18.jpg' %})" alt="">
      </div>
    </div>
</div>
</div>
</section>
{% endblock %}